@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    background:black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero img {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity:0.25;
}

.hero .content {
    position: relative;
    max-width: 750px;
    text-align: left;
}

.hero .content h2 {
    font-size: 125px;
    color:white;
    background: -webkit-linear-gradient(145deg, #f81f01 0%, #ee076e 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    line-height: 110px;
    text-transform: uppercase;

}

.hero .content p {
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4px;
    padding-left: 10px;
    margin-bottom: 10px;
}

.hero header {
    position: absolute;
    top:0;
    left:0;
    width:100%;
    padding: 40px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero header .logo {
   /* color: white;
    text-decoration: none;
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 1px;
    z-index: 2; */
}

.hero header .toggle {
    position: relative;
    width: 36px;
    height: 28px;
}

.fa-bars {
    color:white;
}

.about {
    position:relative;
    width: 100%;
    display: flex;
}

.about .contentBox {
    background:#ee1b49;
    padding: 100px;
    width:50%;
}

.heading {
    color: white;
    font-size: 30px;
    font-weight: 600;
}

.about .imgBox {
    background:url('https://res.cloudinary.com/dietoself86/image/upload/v1591912338/general-assembly/mygoofyface.jpg');
    background-color: rgb(192, 202, 212);
    width:50%;
    height: auto;
    background-size: cover;
    background-position: center;
}

.works .workInfo {
    padding: 100px;
    background-color: black;
    
}

.works .workInfo .heading {
    /* color:black; */
}

.works .gridContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);    grid-column-gap: 10px;
    grid-row-gap: 10px;
 }

 .works .gridContainer .gridItem {
     position: relative;
     height: 400px;
     color: white;
 }

.project-info {
    position: absolute;
    padding: 10px;
    right: 0;
    bottom:0;
    background: rgba(0, 0, 0, 0.6);
    margin-bottom: 1rem;
}

 .project-title {
    font-size: 1rem;
    font-weight: 800;
}

 .project-description {
     font-size: .75rem;
     font-weight: 200;
     margin-bottom: 1rem;
 }

 #project-button {
    width: 100%;
    background: #ef1d49;
    color: white;
    font-size: 1rem;
    border-bottom:none;
    border: none;
 }

 .works .gridContainer .gridItem1 {
     grid-column: 1/3;
     grid-row: 1/3;
     background:seagreen;
 }

 .works .gridContainer .gridItem2 {
    grid-column: 3/4;
    grid-row: 1/2;
    background:goldenrod;
}

.works .gridContainer .gridItem3 {
    grid-column: 4/5;
    grid-row: 1/2;
    background:blueviolet;
}

.works .gridContainer .gridItem4 {
    grid-column: 3/4;
    grid-row: 2/3;
    background: red;
}

.works .gridContainer .gridItem5 {
    grid-column: 4/5;
    grid-row: 2/3;
    background: lightslategray;
}

.works .gridContainer .gridItem6 {
    grid-column: 1/2;
    grid-row: 3/4;
    background:limegreen;
}

.works .gridContainer .gridItem7 {
    grid-column: 2/3;
    grid-row: 3/4;
    background:lightcoral;
}

.works .gridContainer .gridItem8 {
    grid-column: 3/4;
    grid-row: 3/4;
    background:orchid;
}

.works .gridContainer .gridItem9 {
    grid-column: 4/5;
    grid-row: 3/4;
    background:orange;
}

.works .gridContainer .gridItem10 {
    grid-column: 1/2;
    grid-row: 4/5;
    background:olivedrab;
}

.works .gridContainer .gridItem11 {
    grid-column: 2/3;
    grid-row: 4/5;
    background:greenyellow;
}

.works .gridContainer .gridItem12 {
    grid-column: 3/4;
    grid-row: 4/5;
    background:blue;
}

.works .gridContainer .gridItem13 {
    grid-column: 4/5;
    grid-row: 4/5;
    background: peachpuff;
}



.skills {
    padding-top: 100px;
    padding-bottom: 50px;
    text-align: center;
}

.skills .container {
    position: relative;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.tech {
    position: relative;
    background:#ef1d49;
    padding: 100px;
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.tech .contentBox {
    flex:2;
}

.tech .contentBox a {
    color:white;
    font-size: 1.5rem;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
    cursor: pointer;
}

.tech .contentBox a:hover {
    color:transparent;
    -webkit-text-stroke: 1px white;
    text-decoration: none;
    cursor: pointer;
}

.tech .techBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.tech .techBox div {
    background:white;
    box-shadow: 0 4px 8px 0px rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding:30px;
    flex: 1;
}

.contact {
    padding: 100px 100px 0px 100px;

}

.contact .contentBox {
    position: relative;
    display:flex;
    /* flex-wrap: wrap; */
    width:100%;
    padding: 100px;
    background: black;
    justify-content: space-between;
    align-items: flex-start;
}

.contact .contentBox .formBox {
    width: 30%;
    margin-right: 50px;
}

.contact .contentBox

.formBox p {
    color: white;
}

.form {
    width: 70%;
}

.form .inputBox {
    margin-bottom: 40px;
}

.form .inputBox input {
    width: 100%;
    background: transparent;
    box-shadow:none;
    border: none;
    outline:none;
    padding: 10px;
    font-size: 10px;
    font-weight: 300;
    color:white;
    border-bottom: 2px solid white;
}

.form .inputBox input::placeholder {
    color:white;
}
.form .inputBox textarea {
    width: 100%;
    background: transparent;
    box-shadow:none;
    padding: 10px;
    font-size: 10px;
    font-weight: 300;
    color:white;
    min-height:150px;
    border-bottom: 2px solid white;
}

.form .inputBox textarea::placeholder {
    color:white;
}

.form .inputBox input[type='submit'] {
    width: 150px;
    background: #ef1d49;
    color: white;
    font-size: 1.25rem;
    border-bottom:none;
}

.footer {
    background:#ef1d49;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    font-size: .75rem;
}

.footer ul {
    display:flex;
    justify-content: space-between;
    align-items: center;   
}

.footer ul li {
    padding:10px;
    list-style: none;
}

.footer ul li a {
    margin: 0 10px;
    color:white;
}

@media only screen and (max-width: 900px) {

    .about .contentBox,
    .about .imgBox {
        width: 100%;
        padding: 50px;
        min-height: 200px;
    }

    .works .gridContainer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(5, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
     }

    .works .gridContainer .gridItem {
        height: 400px;
    }

    .works .gridContainer .gridItem1 {
        grid-column: 1/3;
        grid-row: 1/2;
        background:seagreen;
    }
   
    .works .gridContainer .gridItem2 {
       grid-column: 1/2;
       grid-row: 2/3;
       background:goldenrod;
   }
   
   .works .gridContainer .gridItem3 {
       grid-column: 2/3;
       grid-row: 2/3;
       background:blueviolet;
   }
   
   .works .gridContainer .gridItem4 {
       grid-column: 1/2;
       grid-row: 3/4;
       background: red;
   }
   
   .works .gridContainer .gridItem5 {
       grid-column: 2/3;
       grid-row: 3/4;
       background: lightslategray;
   }
   
   .works .gridContainer .gridItem6 {
       grid-column: 1/2;
       grid-row: 4/5;
       background:limegreen;
   }
   
   .works .gridContainer .gridItem7 {
       grid-column: 2/3;
       grid-row: 4/5;
       background:lightcoral;
   }
   
   .works .gridContainer .gridItem8 {
       grid-column: 1/2;
       grid-row: 5/6;
       background:orchid;
   }
   
   .works .gridContainer .gridItem9 {
       grid-column: 2/3;
       grid-row: 5/6;
       background:orange;
   }

   .tech .contentBox {
       text-align: center;
       margin-bottom: 30px;
   }

   .contact .contentBox {
       flex-direction: column;
       align-items: center;
       justify-content: center;
   }
   
   .contact .contentBox .formBox {
       width:100%;
       text-align: center;
       margin-right: 0px;
       margin-bottom: 30px;
   }

   .contact .contentBox .form {
       width: 100%;
   }

    
}

@media only screen and (max-width: 530px) {

    .hero .content {
        text-align:center;
    }

    .hero .content h2 {
        font-size: 90px;
        line-height: .9em;
    }

    .about {
        flex-direction: column;
    }

    .works .workInfo .heading {
        text-align: center;
    }

    .works .gridContainer{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows:repeat(8, 1fr);
     }

     .works .gridContainer .gridItem {
         height:200px;
     }

     .works .gridContainer .gridItem1 {
        grid-column: 1/2;
        grid-row: 1/2;       
  } 
     .works .gridContainer .gridItem2 {
        grid-column: 1/2;
        grid-row: 2/3;       
  }
     .works .gridContainer .gridItem3 {
        grid-column: 1/2;
        grid-row: 3/4;       
  }
     .works .gridContainer .gridItem4 {
        grid-column: 1/2;
        grid-row: 4/5;       
  }
     .works .gridContainer .gridItem5 {
        grid-column: 1/2;
        grid-row: 5/6;       
  }
     .works .gridContainer .gridItem6 {
        grid-column: 1/2;
        grid-row: 6/7;       
  }
     .works .gridContainer .gridItem7 {
        grid-column: 1/2;
        grid-row: 7/8;       
  }
     .works .gridContainer .gridItem8 {
         grid-column: 1/2;
         grid-row: 8/9;       
  }
     .works .gridContainer .gridItem9 {
         display:none;
     }

     .skills p {
         text-align:center;
         padding: 0 30px
     }

     .tech {
         padding: 100px 30px;
     }

     .tech .contentBox a {
        color:transparent;
        -webkit-text-stroke: 1px white;
        text-decoration: none;
        cursor: pointer;
     }
     
     .tech .contentBox a:hover {
         display:none;

     }

     .tech .techBox {
         flex-direction: column;
     }

     .contact {
         padding:0;
     }

     .contact .contentBox {
         padding: 30px;
     }

     .contact .contentBox .formBox {
         margin-bottom: 30px;
     }

     .footer {
         padding: 20px 30px;
     }

     .form .inputBox input[type='submit'] {
         width:100%;
     }



}
